# Lego Set Analysis
Analyzing Lego sets by piece count.

---

In [12]:
import pandas as pd
import numpy as np
import csv

## New Method
Simplified/optimized using Pandas and sorting.

In [13]:
sets = pd.read_csv("sets.csv")
sets_sorted = sets.sort_values(by=["num_parts"], ascending=False)[:5]

print("**Top 5 Lego Sets by Piece Count**")
sets_sorted[["name","num_parts"]]

**Top 5 Lego Sets by Piece Count**

                                     name  num_parts
10714               UCS Millennium Falcon       7541
10065                     Hogwarts Castle       6016
294                             Taj Mahal       5923
220                             Taj Mahal       5922
14923  Star Wars / M&M Mosaic - Promo Set       5461

## Old Method
Uses numpy, inefficient (using practices learned from my first Python course in college).

In [3]:
filename = 'sets.csv'
fileobj = open(filename, 'r', encoding='utf-8')
readerobj = csv.reader(fileobj)
data = []
for r in readerobj:
    data.append(r)
fileobj.close()
sets = np.asarray(data) # convert to NumPy array

set_no_header = sets[1:]
partnum = []
setname = []
for i in range(len(set_no_header)):
    setname.append(set_no_header[i,1])
    partnum.append(int(set_no_header[i,4]))

newlist = list(zip(setname,partnum))

srt = sorted(newlist,key=lambda x: x[1])
newarr = np.array(srt)
print("**Top 5 Lego Sets by Piece Count**")
temp = [-1,-2,-3,-4,-5]
for i in temp:
    print("#" + str(abs(i)) + " - " + str(newarr[i,0]) + 
        " [Pieces: " + str(newarr[i,1]) + "]")

**Top 5 Lego Sets by Piece Count**
#1 - UCS Millennium Falcon [Pieces: 7541]
#2 - Hogwarts Castle [Pieces: 6016]
#3 - Taj Mahal [Pieces: 5923]
#4 - Taj Mahal [Pieces: 5922]
#5 - Star Wars / M&M Mosaic - Promo Set [Pieces: 5461]

------
Data pulled from Rebrickable.com